body{
	background-color: #fff;
	margin: auto;	
	width: 596px;
	padding-top: 5px;
	margin-top: 20px; 
	border-top: 0;
}

/*----------------Formulario----------------------*/

#men_enviado {
	font-family: "Trebuchet MS", Vendana, Arial, sans-serif;
	font-size: 12px;
	margin-left: 100px;

}

legend{
	font-family: "Trebuchet MS", Vendana, Arial, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	border: 0;
	margin-top:0;
	padding-top:0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #98bb79;
	margin-bottom: 20px;
}

label,input {
	font-family: "Trebuchet MS", Vendana, Arial, sans-serif;
	font-size: 12px;
	display: block;
	width: 185px;
	float: left;
	margin-bottom: 10px;
}

label {
	color: #999;
	text-align: right;
	width: 70px;
	padding-right: 10px;
}

input {
		border: 1px solid #ccc;
		color: #2F4165;
}

textarea{
	border: 1px solid #ccc;
	font-family: "Trebuchet MS", Vendana, Arial, sans-serif;	
	font-size: 12px;
	float: left;
	color: #2F4165;
}
.submit {
	background-color: #98bb79;
	border-top: 1px solid #99CC66;
	border-left: 1px solid #99CC66;	
	border-right: 1px solid #669900;
	border-bottom: 1px solid #669900;
	width:80px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 80px;
	color: #fcfcfc;
}

.cerrar {
	background-color: #98bb79;
	border-top: 1px solid #99CC66;
	border-left: 1px solid #99CC66;	
	border-right: 1px solid #669900;
	border-bottom: 1px solid #669900;
	width:80px;
	margin-left:40px;
}

br {
	clear: left;
}


